{
    "printWidth": 120,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "prettier.eslintIntegration": true,
    "prettier.disableLanguages": ["vue", "md"]
}
